.gallery-card3-gallery-card {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.gallery-card3-image {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.gallery-card3-container {
  width: 100%;
  height: 300px;
  display: flex;
  opacity: 0;
  padding: var(--dl-space-space-twounits);
  z-index: 1;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.9));;
}
.gallery-card3-container:hover {
  opacity: 1;
}
.gallery-card3-text {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.gallery-card3-text1 {
  color: var(--dl-color-gray-white);
  text-align: center;
}












@media(max-width: 479px) {
  .gallery-card3-text {
    align-self: center;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.app-component-container {
  display: flex;
  position: relative;
}
.app-component-text {
  color: #ffffff;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}

.look-boo-kazine-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #000000;
}
.look-boo-kazine-navbar {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
}
.look-boo-kazine-header {
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
  background-color: #ffffff;
}
.look-boo-kazine-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.look-boo-kazine-navbar1 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.look-boo-kazine-container02 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.look-boo-kazine-logo-center {
  text-decoration: none;
}
.look-boo-kazine-text {
  text-decoration: none;
}
.look-boo-kazine-text01 {
  text-decoration: none;
}
.look-boo-kazine-middle {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  justify-content: center;
}
.look-boo-kazine-left {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  grid-gap: 45px;
  position: relative;
  align-items: flex-start;
}
.look-boo-kazine-right {
  display: flex;
  grid-gap: 45px;
  position: relative;
  align-items: flex-start;
}
.look-boo-kazine-text02 {
  text-decoration: none;
}
.look-boo-kazine-icons {
  display: flex;
}
.look-boo-kazine-burger-menu {
  display: none;
}
.look-boo-kazine-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.look-boo-kazine-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(100%);
  transition: 0.3s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.look-boo-kazine-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.look-boo-kazine-container03 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.look-boo-kazine-logo-center1 {
  color: var(--dl-color-gray-black);
  height: auto;
  font-size: 24px;
  font-family: Jost;
  font-weight: 500;
  line-height: 20px;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  letter-spacing: 0.4em;
  text-decoration: none;
}
.look-boo-kazine-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.look-boo-kazine-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.look-boo-kazine-middle1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.look-boo-kazine-text03 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.look-boo-kazine-text04 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.look-boo-kazine-text05 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.look-boo-kazine-text06 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.look-boo-kazine-text07 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.look-boo-kazine-text08 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.look-boo-kazine-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.look-boo-kazine-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.look-boo-kazine-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.look-boo-kazine-hero {
  width: 100%;
  height: 920px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-color: #D9D9D9;
  background-image: url('https://images.unsplash.com/photo-1616137303871-05ce745f9cdb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE4fHx8ZW58MHx8fHx8&w=1500&q=80');
  background-position: bottom;
}
.look-boo-kazine-container04 {
  width: 1073px;
  height: 301px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.look-boo-kazine-text09 {
  color: rgb(255, 255, 255);
  height: 167px;
  font-size: 3rem;
  max-width: 25rem;
}
.look-boo-kazine-text10 {
  color: rgb(255, 255, 255);
  font-size: 1.15rem;
  max-width: 60%;
  margin-top: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-threeunits);
}
.look-boo-kazine-link {
  color: var(--dl-color-gray-white);
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-weight: 400;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  margin-right: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.look-boo-kazine-link:hover {
  transform: scale(1.02);
}
.look-boo-kazine-gallery {
  width: 100%;
  height: 1200px;
  display: grid;
  grid-gap: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "a b b" "a b b" "a c d" "a c d"  "e e d" "e e f" "e e f";
  grid-template-columns: 1fr 1fr 1fr;
}
.look-boo-kazine-container05 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 1;
  position: relative;
  grid-area: a;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1522814208878-08129b4b76f3?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fGxpZ2h0aG91c2UlMjBwYXN0ZWx8ZW58MHx8fHwxNjI2NDM5Nzkx&ixlib=rb-1.2.1&w=1000");
  background-position: center;
}
.look-boo-kazine-container05:hover {
  transform: scale(0.98);
}
.look-boo-kazine-container06 {
  top: 0px;
  left: 0px;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url('https://images.unsplash.com/photo-1513506003901-1e6a229e2d15?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bGFtcHxlbnwwfHwwfHx8MA%3D%3D&w=1400&q=80');
}
.look-boo-kazine-container07 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  grid-area: b;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1494438639946-1ebd1d20bf85?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDJ8fGdyZWVuJTIwbGFtcCUyMHBhc3RlbHxlbnwwfHx8fDE2MjY0Mzk4NDA&ixlib=rb-1.2.1&h=1000");
  background-position: center;
}
.look-boo-kazine-container07:hover {
  transform: scale(0.98);
}
.look-boo-kazine-container08 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 312px;
  display: flex;
  align-self: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  background-size: cover;
  justify-content: flex-start;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRknpqbKeK9qtK7GxC58G2YvLpHfvEDSaQCqw&usqp=CAU');
}
.look-boo-kazine-container09 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  grid-area: c;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1528696892704-5e1122852276?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fHBpbmslMjB0ZWElMjBwYXN0ZWx8ZW58MHx8fHwxNjI2NDM5ODU2&ixlib=rb-1.2.1&w=1000");
  background-position: center;
}
.look-boo-kazine-container09:hover {
  transform: scale(0.98);
}
.look-boo-kazine-container10 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url('https://media.istockphoto.com/id/1367399805/photo/furniture-sofa-puf-chair.webp?b=1&s=170667a&w=0&k=20&c=R8SN48X3xf9-zPGNltze5Yc1e0ZrlwR5COS5L2is5TE=');
}
.look-boo-kazine-container11 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  grid-area: d;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1497034825429-c343d7c6a68f?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDV8fHllbGxvdyUyMGljZWNyZWFtfGVufDB8fHx8MTYyNjQzOTg4OQ&ixlib=rb-1.2.1&h=1000");
  background-position: center;
}
.look-boo-kazine-container11:hover {
  transform: scale(0.98);
}
.look-boo-kazine-container12 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCz7btmYh_40lWhKQgNGkIfDPVldL6rR7dbCKNZ1c34mcdi9P9REuZ5OkmZh9s3bdcP50&usqp=CAU');
}
.look-boo-kazine-container13 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  grid-area: e;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1551500226-b50b653e33e8?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDEwfHxwYXN0ZWwlMjBjb2ZmZWUlMjBncmVlbnxlbnwwfHx8fDE2MjY0Mzk5MzA&ixlib=rb-1.2.1&w=1000");
  background-position: center;
}
.look-boo-kazine-container13:hover {
  transform: scale(0.98);
}
.look-boo-kazine-container14 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url('https://wallpaperaccess.com/full/2076086.jpg');
}
.look-boo-kazine-container15 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  grid-area: f;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1591101761702-0c4927df1d52?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDh8fHBhc3RlbCUyMHBpbmslMjBjb3R0b258ZW58MHx8fHwxNjI2NDQwMDUw&ixlib=rb-1.2.1&w=1000");
  background-position: center;
}
.look-boo-kazine-container15:hover {
  transform: scale(0.98);
}
.look-boo-kazine-container16 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url('https://wallpaperaccess.com/full/2076099.jpg');
}
.look-boo-kazine-gallery1 {
  width: 100%;
  height: 1030px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.look-boo-kazine-container17 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-unit);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.look-boo-kazine-footer {
  width: 100%;
  height: 414px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-sixunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: space-between;
  background-color: #000000;
}
.look-boo-kazine-container18 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.look-boo-kazine-text11 {
  color: #ffffff;
  margin-bottom: var(--dl-space-space-halfunit);
}
.look-boo-kazine-text12 {
  color: #ffffff;
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.look-boo-kazine-text13 {
  color: #ffffff;
  margin-top: var(--dl-space-space-twounits);
}
.look-boo-kazine-text14 {
  color: #ffffff;
  margin-top: 12px;
}
.look-boo-kazine-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.look-boo-kazine-container19 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.look-boo-kazine-socials {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.look-boo-kazine-container20 {
  width: 0px;
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: row;
  justify-content: space-between;
}
.look-boo-kazine-product-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: column;
  justify-content: flex-start;
}
.look-boo-kazine-text15 {
  color: #ffffff;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.look-boo-kazine-navlink {
  color: #ffffff;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.look-boo-kazine-navlink1 {
  color: #ffffff;
  text-decoration: none;
}
.look-boo-kazine-container21 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.look-boo-kazine-company-container {
  height: 173px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.look-boo-kazine-text16 {
  color: #ffffff;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.look-boo-kazine-container22 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.look-boo-kazine-navlink2 {
  color: #ffffff;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.look-boo-kazine-link1 {
  color: #ffffff;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.look-boo-kazine-navlink3 {
  color: #ffffff;
  text-decoration: none;
}
.look-boo-kazine-navlink4 {
  color: #ffffff;
  text-decoration: none;
}
.look-boo-kazine-contact {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: flex-start;
}
.look-boo-kazine-text17 {
  color: rgb(255, 255, 255);
  margin-bottom: var(--dl-space-space-unit);
}
.look-boo-kazine-text18 {
  color: rgb(255, 255, 255);
}
@media(max-width: 1600px) {
  .look-boo-kazine-container04 {
    height: 261px;
  }
  .look-boo-kazine-link {
    color: var(--dl-color-gray-white);
    font-style: normal;
    font-weight: 400;
    background-color: var(--dl-color-gray-black);
  }
}
@media(max-width: 991px) {
  .look-boo-kazine-container02 {
    display: none;
  }
  .look-boo-kazine-left {
    display: none;
  }
  .look-boo-kazine-right {
    display: none;
  }
  .look-boo-kazine-icons {
    display: none;
  }
  .look-boo-kazine-burger-menu {
    display: flex;
  }
  .look-boo-kazine-icon {
    width: 24px;
    height: 24px;
    display: flex;
  }
  .look-boo-kazine-logo-center1 {
    margin-left: 0px;
  }
  .look-boo-kazine-gallery {
    grid-gap: var(--dl-space-space-unit);
  }
  .look-boo-kazine-container17 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .look-boo-kazine-footer {
    flex-direction: column-reverse;
  }
  .look-boo-kazine-container20 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .look-boo-kazine-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .look-boo-kazine-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .look-boo-kazine-hero {
    align-items: center;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .look-boo-kazine-text09 {
    text-align: center;
  }
  .look-boo-kazine-text10 {
    max-width: 100%;
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .look-boo-kazine-gallery {
    height: auto;
    display: flex;
    padding: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .look-boo-kazine-gallery1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .look-boo-kazine-container17 {
    grid-template-columns: 1fr 1fr;
  }
  .look-boo-kazine-footer {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .look-boo-kazine-links-container {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
  .look-boo-kazine-container20 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .look-boo-kazine-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 479px) {
  .look-boo-kazine-header {
    padding: var(--dl-space-space-unit);
  }
  .look-boo-kazine-mobile-menu {
    padding: 16px;
  }
  .look-boo-kazine-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .look-boo-kazine-text10 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .look-boo-kazine-link {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .look-boo-kazine-gallery {
    width: 100%;
    padding: var(--dl-space-space-unit);
  }
  .look-boo-kazine-gallery1 {
    padding: var(--dl-space-space-unit);
  }
  .look-boo-kazine-container17 {
    grid-template-columns: 1fr;
  }
  .look-boo-kazine-footer {
    padding: var(--dl-space-space-unit);
  }
  .look-boo-kazine-links-container {
    align-items: center;
    flex-direction: column;
  }
  .look-boo-kazine-container19 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .look-boo-kazine-container20 {
    margin-right: 0px;
  }
  .look-boo-kazine-contact {
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
}
.cart-action{
  text-align: center;
}