<div>
  <link href="./contact.css" rel="stylesheet" />
  <div class="contact-container">
    <span class="contact-text"><span>Contact Us</span></span>
    <a
      href="https://mail.google.com/mail/u/0/#inbox"
      target="_blank"
      rel="noreferrer noopener"
      class="contact-link"
    >
      <span>Kaylessupport@kayles.com</span>
    </a>
    <span class="contact-text1"><span>+123 (4567) - XXXXXXX</span></span>
    <ul class="list">
      <li class="list-item"></li>
    </ul>
  </div>
</div>
